.bottom-bar {
  padding: 0px 8px;
  border-top: 1px solid black;
}

/* This is an unfortunate hack due to https://gitlab.gnome.org/GNOME/gtk/-/issues/4184 */
.bottom.osd {
  opacity: 0;
}

.toast {
  color: white;
  background: black;
  padding: 16px 24px;
}

.main-nobg header>button {
  background: none;
}

.main-nobg scrolledwindow,
.main-nobg listview,
.main-nobg gridview,
.main-nobg columnview,
.main-nobg entry,
.main-nobg scrollbar {
  background: none;
}

row:selected,
child:selected label {
  background: rgba(1, 120, 255, 0.5);
}

child:selected {
  background: none;
}

child:selected image {
  filter: invert(30%);
}

.panes child:hover {
  filter: invert(15%);
}

gridview child box {
  border-spacing: 0;
}

gridview>* {
  outline-offset: 0;
  padding: 0;
  /* For no drag and drop selection */
  margin-left: 3px;
  margin-right: 3px;
}

gridview .name {
  padding-left: 2px;
  padding-right: 2px;
}



.left-bar {
  border-right: 1px solid black;
}

listview.tabs-list>* {
  padding: 0;
}

.tab {
  padding-left: 3px;
  padding-top: 8px;
  padding-bottom: 10px;
}

.tab:hover {
  background: rgba(255, 255, 255, 0.2);
}

.visible-tab:not(.active-tab),
.visible-tab:not(.active-tab):hover {
  background: rgba(1, 120, 255, 0.3);
}

.active-tab,
.active-tab:hover {
  background: rgba(1, 120, 255, 0.6);
}

.pane-contents {
  opacity: 0.6;
}

.active-pane .pane-contents {
  opacity: 1;
}

/* Fix some parts of the title bar not being clickable by moving the padding to the interactive element. */
headerbar {
  padding: 0;
}

windowhandle {
  padding: 4px;
}

popover>contents {
  border-radius: 0;
  padding: 0;
}

popover modelbutton {
  border-radius: 0;
  padding-left: 8px;
  padding-right: 8px;
}

popover slider {
  min-height: 0;
}

popover popover {
  font-size: 100%;
}

.error-label {
  text-shadow: -1px -1px black, -1px 1px black, 1px -1px black, 1px 1px black;
  color: white;
}

window.nodecorations {
  border-radius: 0;
}
